*{
    font-family: 'Poppins',sans-serif;
}
body{
    background: #01142e;
}
.contain{
    background:linear-gradient(135deg, #23c99d, #5b548a);
    color:#fff;
    text-align: center;
    box-sizing: border-box;
    margin:100px auto 0;
    width: 30%;
    border-radius: 20px;
    padding: 40px 35px;
    margin-bottom: 30px;
box-shadow: 5px 7px rgb(172, 172, 192);  
}
.search{
 display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

}
.search input{
    outline: 0;
    padding: 10px 25px;
    flex:1;
    border-radius: 30px;
    height: 55px;
    font-size: 18px;
    border:0;
    background: #ebfffc;
    color: #000000; 
}
.search button{
     outline: 0;
     border:0;
     border-radius: 50px;
     padding: 1px;
     cursor: pointer;
     background: #ebfffc;
     width: 50px;
     height: 50px;
}
.search button img{
    width:16px;
    height: auto;
}.details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.w-icon{
    width: 170px;
    margin-top: 30px;
    margin-bottom: -12px;
}
.weather h1{
    font-size: 80px;
    font-weight:500;
}
.weather h2{
    font-size:45px;
    font-weight:400;
    margin-top: -30px;
}
.colmn{
display: flex;
text-align: left;
align-items: center;
gap:10px;
}
.colmn img{
    width:42px;
    margin-right:10px;
}
